@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-kanit);
}

.swal2-popup {
  font-family: var(--font-kanit);
  width: 300px;
}

.swal2-title {
  font-size: 20px;
  font-weight: 600;
}

.swal2-html-container {
  font-size: 16px;
}
