@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-kanit);
}

