.wrap {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.from-container {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 48rem; 
  align-items: self-start;
  padding: 2rem 3rem 2rem 3rem;
  background-color: #ffffff;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.input-container {
  margin-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label_title {
  margin: 15px 0px 5px 0px;
  font-size: 16px;
  color: #444444;
}

